.icon {
    margin-left: 50%;
    margin-right: 50%;
    height: 20px;
}
.logo {
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}
.container-fluid {
    background-color: aqua;
    display: flex;
}
.navbar {
    display: inline-flex;
    flex-basis: auto;
    align-items: center;
    justify-content: space-around;
}
.shadowbox {
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
/*Text fonts*/
.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
  }  
.bungee-shade-regular {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.orbitron> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}