h1{
  text-align: center;
  font-size: 72px;
  font-family: Bungee Shade;
}
h2{
  text-align: center;
  font-size: 48px;
  font-family: Orbitron;
}
h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Press Start 2P";
}
p {
  font-family: Nanum Myeongjo;
  font-size: 20px;
  text-align: center;
}
body {
  background-color: blue;
}
.about > p{
  font-size: 15px;
}
.logo {
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}
.dragon {
  margin-left: 45%;
  height: 200px;
}
.container {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar {
    display: inline-flex;
    flex-basis: auto;
    align-self: flex-end;
    justify-items: baseline;
}
.icon {
  padding: 10px;
  margin: 10px;
  height: 25px;
}
.icon2{
  height: 20px;
  margin-right: 10px;
}
.content {
  display:grid;
  gap: 1rem;
  grid-template-columns: .5fr .5fr .5fr;
  grid-template-rows: .5fr .5fr .5fr;
  height: 100vh;
  padding: 20px;
}
.about {
  grid-row: span 3;
  grid-area: 1/1/4/2;
  background-color: rgb(241, 240, 239);
}
.nerdstore {
  grid-column: span 2;
  order: 2;
  grid-area: 1/2/2/4;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.calendar {
  grid-row: span 2;
  order: 3;
  grid-area: 2/2/4/3;
}
.tournaments {
  grid-row: span 2;
  order: 3/3/4/4;
}
footer {
  text-align: center;
}
/*Text fonts*/
.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
  }  
.bungee-shade-regular {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.orbitron> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
